T4-GeneracionServiciosEnRed/Ejercicios/helloWorldPSP/WebContent/wsdl/helloWorldPSP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="helloWorldPSP" targetNamespace="http://www.example.org/helloWorldPSP/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/helloWorldPSP/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/helloWorldPSP/">
                  
      
      <xsd:element name="hello">
                        
        
        <xsd:complexType>
                              
          
          <xsd:sequence>
                                    
            
            <xsd:element name="name" type="xsd:string"/>
                                  
          
          </xsd:sequence>
                            
        
        </xsd:complexType>
                      
      
      </xsd:element>
                  
      
      <xsd:element name="helloResponse">
                        
        
        <xsd:complexType>
                              
          
          <xsd:sequence>
                                    
            
            <xsd:element name="greet" type="xsd:string"/>
                                  
          
          </xsd:sequence>
                            
        
        </xsd:complexType>
                      
      
      </xsd:element>
                
    
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="helloRequest">
    <wsdl:part name="parameters" element="tns:hello">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloResponse">
    <wsdl:part name="parameters" element="tns:helloResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="helloWorldPSP">
    <wsdl:operation name="hello">
      <wsdl:input message="tns:helloRequest">
    </wsdl:input>
      <wsdl:output message="tns:helloResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="helloWorldPSPSOAP" type="tns:helloWorldPSP">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hello">
      <soap:operation soapAction="http://www.example.org/helloWorldPSP/hello"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="helloWorldPSP">
    <wsdl:port name="helloWorldPSPSOAP" binding="tns:helloWorldPSPSOAP">
      <soap:address location="http://localhost:8080/helloWorldPSP/services/helloWorldPSPSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
